.popup__container {
    margin: 0 auto;
    align-self: center;
    justify-self: center;
    position: relative;
    width: 430px;
    height: 330px;
}

@media screen and (max-width: 768px) {
    .popup__container {
        width: 282px;
        height: 322px;
    }
}