.profile {
    margin: 0 auto;
    /*margin-left: 200px;
    width: calc(100% - 2 * 200px); */
    width: 880px;
    display: flex;
    flex-direction: row;
    margin-top: 41px;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .profile {
        flex-direction: column;
        align-items: center;
        /*width: calc(100% - 2 * 19px);*/
        width: 581px;
    }
}

@media screen and (max-width: 1024px) {
    .profile {
        flex-direction: column;
        align-items: center;
        margin-left: 100px;
        width: calc(100% - 2 * 100px);
    }
}