.popup__form-input-error {
    color: #F00;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    margin-left: 36px;
    margin-right: 36px;
}