.popup__form-item {
    margin: 0;
    color: #000;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border: none;
    border-bottom: 1px solid rgb(0,0,0, 0.2);
    outline: none;
    margin-bottom: 38px;
    margin-left: 36px;
    margin-right: 36px;
}

@media screen and (max-width: 768px) {
    .popup__form-item {
        margin-bottom: 36px;
        margin-left: 22px;
        margin-right: 22px;
    }
}