.popup__container {
    margin: 0 auto;
    
    align-self: center;
    justify-self: center;
    position: relative;
    max-width: 430px;
    width: 100%;
    min-height: 330px;
}

@media screen and (max-width: 768px) {
    .popup__container {
        max-width: 282px;
        min-height: 322px;
    }
}